#menuItems {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
}
#jumpMenu {
    display: none;
    margin-top: -10px;
    padding-top: 10px;
    margin-bottom: 0;
    background-color: orange;
}
#recentArticles:hover + #jumpMenu, #jumpMenu:hover {
    display: block;
}
#jumpMenu li:hover{
    background-color: blue;
}
#jumpMenu li:hover > a {
    color: black;
}
#container {
    display: flex;
    flex-wrap: wrap;
}
#container article {
    width: 300px;
    margin: 10px;
}
header {
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
}
main {
    margin-left: 15%;
}
article h2 + p::first-letter {
    font-size: 36px;
    font-family: 'Times New Roman';
}
article p a::after {
    content: url(../images/arrow.png);
}
article {
    color: lightgray;
    transition: font-size 2s;
}
article:hover {
    color: black;
    font-size: 1.2em;
}
nav button {
    transition: background-color;
    background-color: blue;
    color: white;
    width: 100%;
    height: 40px;
}
nav button:hover {
    background-color: orange;
}